@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://use.typekit.net/xua8wlh.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "futura-pt";
  src: url("https://use.typekit.net/xua8wlh.css");
}
@layer utilities {
  .fsans-300 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 300 !important;
  }

  .fsans-400 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 400 !important;
  }

  .fsans-500 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 500 !important;
  }

  .fsans-600 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
  }

  .fsans-700 {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 700 !important;
  }
  .flato-300 {
    font-family: "Lato", sans-serif;
    font-weight: 300;
  }

  .flato-400 {
    font-family: "Lato", sans-serif;
    font-weight: 400;
  }

  .flato-500 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
  }

  .flato-600 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
  }

  .flato-700 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
  }

  .flato-800 {
    font-family: "Lato", sans-serif;
    font-weight: 800;
  }

  .fpt-300 {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
  }

  .fpt-300 {
    font-family: "futura-pt", sans-serif;
    font-weight: 300;
  }

  .fpt-400 {
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
  }

  .fpt-500 {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
  }

  .fpt-600 {
    font-family: "futura-pt", sans-serif;
    font-weight: 600;
  }

  .fpt-650 {
    font-family: "futura-pt", sans-serif;
    font-weight: 650;
  }

  .fpt-700 {
    font-family: "futura-pt", sans-serif !important;
    font-weight: 700 !important;
  }

  .fpt-800 {
    font-family: "futura-pt", sans-serif;
    font-weight: 800;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth !important;
  padding: 0;
  transition-timing-function: cubic-bezier(0.7, 0, 0.4, 1) !important;
  font-size: 16px;
  /* font-size: 16px; */
}

.fixed-button {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1000;
}
body {
  font-size: 16px;
}
#contform {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 100vw;
  width: 510px;
  height: 100%;
  z-index: 9999;
  background-color: #092241;
  /* Optional dark background */
  transition: all 0.3s ease;
}

.bgblue {
  background-color: #092241;
}

.bgwh {
  background-color: #ffffff;
}

/* //////////////// */
.footerMain a {
  transition: color 0.3s;
}
.footerMain a:hover {
  color: #9acbf8 !important;
}
/*  */

.animate-slideUp {
  animation: slideUp 1s ease-out forwards;
  /* Duration and easing */
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    /* Start from bottom */
    opacity: 0;
    /* Make it invisible initially */
  }

  50% {
    opacity: 1;
    /* Make it visible */
  }

  100% {
    transform: translateY(0);
    /* Move it to its original position */
  }
}

/* Sustainabiliyt */
.CertificationsRigthImgBg {
  background-image: url("/parkOverview/certificateRigth.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bgSusDown {
  background-image: url("/Sustainability//SustainabilitySec3Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* .xyz {
/* background-position: center; */
/* } */

/*  */
.countersec {
  transition: background-color 300ms !important;
}

@media (max-width: 767px) {
  #slidercontpp,
  #slidercontpp2 {
    margin-right: 5% !important;
    /* margin: 0 !important; */
  }

  .countersec {
    max-height: 150px !important;
    min-height: 150px !important;
  }
}

.kshmn {
  max-width: 100vw !important;
  width: 941px !important;
  position: relative;
  z-index: 20 !important;
}

.rightsh {
  position: absolute;
  width: 630px !important;
  height: 496px !important;
  /* left: 100px; */
  max-width: 60vw;
  max-height: fit-content;
}

/* .tablinehead,
.tablinehead * {
  transform-origin: left;
} */
.gradinetText {
  background-image: linear-gradient(
    to bottom,
    #ffffff,
    /* #ffffff,
    #ffffff, */ #5f7b9e
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
#park-overview {
  * {
    text-decoration: none !important;
  }
}
.gradinetText2 {
  /* background-image: linear-gradient(to bottom, #092241, #1757a7); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text; */
  /* color: transparent; */
  color: #1757a7;
  text-decoration: none !important;
}
.gradinetText3 {
  /* background-image: linear-gradient(to bottom, #092241, #1757a7); */
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  /* background-clip: text; */
  /* color: transparent; */
  color: #838383;
  text-decoration: none !important;
}
/* @media (min-width: 1440px) {
  .bodylayout {
  }
} */
.fix12 {
  width: 1250px !important;
  margin-left: auto;
  margin-right: auto;
}

.xyz {
  /* position: absolute; */
  margin-right: calc((100vw - 1250px) / 2);
  /* Aligns with fix12 */
  max-width: 90%;
  width: fit-content;
}

.tabs {
  scrollbar-width: none;
  /* Hide scrollbar for Firefox */
  -ms-overflow-style: none;
  /* Hide scrollbar for IE & Edge */
}

.tabs::-webkit-scrollbar {
  display: none;
  /* Hide scrollbar for Chrome, Safari, and Opera */
}

/* Carres sec Home page */
.rigthSectionOfCarrer {
  display: none;
}

.firstswbtns {
  position: absolute;
  left: calc((100vw - 1250px) / 2);
  /* Aligns with fix12 */
  max-width: 90%;
  width: fit-content;
}

@media (max-width: 1365px) {
  .fix12 {
    width: 90% !important;
    margin: auto !important;
  }

  .firstswbtns {
    left: calc((100vw - 90vw) / 2);
    /* Adjusts dynamically on smaller screens */
  }

  .xyz {
    margin-right: calc((100vw - 90vw) / 2);
    /* Adjusts dynamically on smaller screens */
  }
}

@media (max-width: 768px) {
  .firstswbtns {
    left: 5%;
    /* Prevents misalignment on mobile */
  }

  .xyz {
    margin-right: 5%;
    /* Prevents misalignment on mobile */
  }
}

@media (min-width: 769px) {
  .rigthSectionOfCarrer {
    display: block !important;
  }
}

@media (max-width: 769px) {
  .maxTab {
    width: 90%;
    margin: auto;
  }
}

/* --- 24 */
h1,
h2:not(.kshabtitle):not(.tbhead):not(.aboutpioneer):not(.linehead-text),
h3:not(.spotlightheaddd),
h4:not(.spotlightheaddd),
h5:not(.spotlightheaddd),
h6:not(.spotlightheaddd) {
  font-family: futura-pt, sans-serif !important;
  font-weight: 600;
}

/* /////////////// skibidi */

.hotspot-container {
  width: 100%;
  /* height: 900px; */
  min-height: fit-content;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .hotspot-map {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.5s ;
}

.map-image {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  object-fit: cover;
} */

/* .hotspot {
  cursor: pointer;
  width: 30px;
  display: flex;
  align-items: start;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
} */

.hotspot {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.hotspot2 {
  cursor: default !important;
  .park_name {
    font-weight: 400;
  }
}
.hotspot2 {
  background: #f7e327 !important;
}
.hotspot:hover {
  background-color: #f7e327;
  width: 85px;
  height: 85px;
}
.upcoming {
  font-size: 8px !important;
}
.hotspot2:hover {
  background-color: #ffffff !important;
  border: 2px solid #f7e327;
  width: 100px !important;
  height: 100px !important;
  .park_name {
    color: #000000 !important;
    font-size: 10px !important;
    line-height: 12px !important;
  }
  .park_no {
    background-color: #afafaf;
    width: 26px;
    height: 26px;
    transition: all 0.5s;
  }
  .park_name {
    bottom: 10px !important;
  }
}
.hotspot.active {
  background-color: transparent;
  width: 55px;
  height: 55px;
  transform: translate(-50%, -50%);
}

/* .hotspot_inn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
} */

/* 
.hotspot_inn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  transform: translateY(0%);
  transition: transform 0.4s ease, padding 0.4s ease;
  padding: 0;
} */

.hotspot_inn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding-top: 0;
  transition: padding 0.4s ease, justify-content 0.4s ease;
}
.hotspot_inn::before {
  transition: all 0.5s;
  /* width: 80px;
  height: 80px; */
  content: "";
  position: absolute;
  opacity: 0;
  top: -13px;
  left: -13px;
}

.hotspot_inn::after {
  content: "";
  position: absolute;
  transition: all 0.4s;
  width: 0px;
  opacity: 0;
  height: 0px;
  right: 0;
  background-color: #d7d7d766;
}

.hotspot.active .hotspot_inn::before {
  /* width: 80px;
  height: 80px; */
  opacity: 1;
  border: 1px solid #d7d7d766;
  border-radius: 50%;
  top: -13px;
  left: -13px;
}

.hotspot.active .hotspot_inn::after {
  width: 250px;
  right: -250px;
  height: 1px;
  transition: opacity 1s;
  transition-delay: 1s;
  opacity: 1;
}

span.park_no {
  width: 22px;
  height: 22px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  display: flex;
  font-family: Open Sans;
  justify-content: center;
  align-items: center;
}

.hotspot.active span.park_no {
  font-size: 7px;
  line-height: 7px;
  width: 17px;
  height: 17px;
}

span.park_name {
  position: absolute;
  z-index: -1;
  bottom: 17px;
  opacity: 0;
  font-size: 0px;
  font-weight: 700;
  transition: all 0.5s;
  font-family: "Open Sans";
  text-transform: uppercase;
  text-align: center;
}

.hotspot:hover span.park_name {
  opacity: 1;
  font-size: 9px;
  bottom: 15px;
}

.hotspot.active span.park_name {
  opacity: 1;
  font-size: 7px;
  bottom: 7px !important;
}

.hotspot_col_two {
  /* width: 700px;
    height: auto;*/
  position: absolute;
  /* background: aqua; */
  top: auto;
  left: 44%;
  bottom: 24%;
}

.swiper-button-disabled {
  opacity: 0.5;
}

.CertificationsRigthImgBg .swiper {
  overflow-y: visible;
}

@media only screen and (min-device-width: 1270px) and (max-device-width: 1280px) {
  .hotspot_col_two {
    left: 42%;
    bottom: 15%;
  }

  .hotspot.active .hotspot_inn:after {
    width: 150px;
    right: -133px;
  }
}

@media only screen and (min-device-width: 1281px) and (max-device-width: 1366px) {
  .hotspot_col_two {
    left: 41%;
    bottom: 15%;
  }

  .hotspot.active .hotspot_inn:after {
    width: 150px;
    right: -133px;
  }
}

@media only screen and (min-device-width: 1370px) and (max-device-width: 1440px) {
  .hotspot_col_two {
    left: 41%;
    bottom: 16%;
  }

  .hotspot.active .hotspot_inn:after {
    width: 150px;
    right: -133px;
  }
}

@media only screen and (min-device-width: 1450px) and (max-device-width: 1536px) {
  .hotspot_col_two {
    left: 45%;
    bottom: 17%;
  }
}

@media only screen and (min-device-width: 1540px) and (max-device-width: 1600px) {
  .hotspot_col_two {
    left: 45%;
    bottom: 19%;
  }
}
@media (max-width: 600px) {
  span.park_name {
    display: none !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .hotspot {
    width: 25px;
    height: 25px;
  }

  span.park_no {
    width: 18px;
    height: 18px;
    font-size: 11px;
  }

  .hotspot.active {
    background-color: transparent;
    width: 45px;
    height: 45px;
  }
}

.hotspot-active {
  width: 55px;
  height: 55px;
  /* border: 2px solid #f7e327; */
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hotspot-active-image {
  background: url("/public/bentobg1.png");
  /* width: 30px;
  height: 30px; */

  border-radius: 50%;
}

/* ///////////////// skibidi */

/* Hide default scrollbar but keep scrolling functional */
.customsw {
  transition-timing-function: cubic-bezier(0.7, 0, 0.4, 1) !important;
}

.customsw {
  width: 100%;
  max-width: 100% !important;
  max-height: 100vh !important;
  /* // CSS Grid/Flexbox bug size workaround
  // @see https://github.com/kenwheeler/slick/issues/982
  // @see https://github.com/nolimits4web/swiper/issues/3599 */
  min-height: 0;
  min-width: 0;
}

@media (max-width: 639px) {
  .customsw,
  .customsw * {
    max-width: 90vw !important;
  }
}

.navbtn:not(:first-child) {
  border-left: rgba(215, 215, 215, 0.34) 1px solid;
  padding-left: 64px !important;
  /* Default */
}

@media (max-width: 1367px) {
  .navbtn:not(:first-child) {
    padding-left: 56px !important;
  }
}

@media (max-width: 1280px) {
  .navbtn:not(:first-child) {
    padding-left: 44px !important;
  }
}

@media (max-width: 1024) {
  .navbtn {
    padding-right: 44px !important;
  }
  .hotspot.active .hotspot_inn::after {
    display: none;
  }
}

/* 
.timelinecar::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 50%;
  width: 1px;
  height: 100px;
  background-color: #ff0000;
  transform: translateY(-50%);
} */

/* .timelinecar {
  transition: all 0.5s ;
} */

.tabsmenupar {
  scrollbar-width: none;
  overflow-x: auto;

  * {
    white-space: nowrap;
  }

  -ms-overflow-style: none;
}

.tabsmenupar::-webkit-scrollbar {
  display: none;
}

@media (max-width: 1025px) and (min-width: 1023px) {
  .navbtn:not(:first-child) {
    padding-left: 36px !important;
  }
}

/* Capabilities */
.capEnqBg {
  background-image: url("/Cap/capLast.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

li {
  padding-left: 0 !important;
}

.caseStChallengebtmCon ul {
  list-style-image: url("/caseInside/challengeListIcon.svg");
  gap: 30px 37.5px;
}

.caseBenefitGrid {
  gap: 40px;
}

.caseSolGlass {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(16, 16, 70, 0.26);
  background-blend-mode: multiply;
  backdrop-filter: blur(2px);
}

#bloginwy h2,
#bloginwy h3,
#bloginwy h4,
#bloginwy h5,
#bloginwy h6 {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  font-size: 28px;
  line-height: 130%;
  color: #101021 !important;
}
@media (max-width: 800px) {
  #bloginwy h2,
  #bloginwy h4,
  #bloginwy h5,
  #bloginwy h6 {
    font-size: 24px !important;
  }
  #bloginwy p {
    font-size: 16px !important;
    line-height: 26px;
  }
}
#bloginwy p,
#bloginwy li {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 30px !important;
  /* padding-bottom: 20px; */
}
#bloginwy strong {
  font-size: 20px;
  margin-top: 20px;
}

#bloginwy {
  gap: 55px !important;
}

.topcard::after {
  content: "";
  height: 60px !important;
  width: 2px;
  left: 50% !important;
  position: absolute;
  top: 182px !important;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
  z-index: 1000 !important;
}
.topcard,
.bcard {
  position: relative !important;
}
.bcard::after {
  content: "";
  height: 60px !important;
  width: 2px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  left: 50% !important;
  position: absolute;
  bottom: 182px !important;
  z-index: 1000 !important;
}
@media (max-width: 640px) {
  span.park_no {
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 10px;
    font-weight: 600;
    font-family: "Open Sans";
    display: flex;
    font-family: Open Sans;
    justify-content: center;
    align-items: center;
  }
  .hotspot {
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    /* cursor: pointer; */
    transition: all 0.5s;
  }
  .hotspot:active,
  .hotspot:hover {
    width: 40px !important;
    height: 40px !important;
  }
  .topcard::after,
  .bcard::after {
    content: "";
    height: 100px !important;
    width: 2px;
    left: 50% !important;
    position: absolute;
    top: 100% !important;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1)
    );
    z-index: 1000 !important;
  }
}
/*  */

/* ---- reset ---- */

canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #092241;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
.mapseclinehead::after {
  position: absolute !important;
  background: linear-gradient(
    180deg,
    #072040 0%,
    rgba(115, 115, 115, 0) 158.53%
  ) !important;
  filter: blur(17px);
  width: 100vw !important;
  height: 203px !important;
  left: 0 !important;
  top: 0 !important;
}
.povbtn {
  position: relative;
  overflow: hidden;
  transition: color 0.8s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.4, 1);

  &::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: white;
    left: -100%;
    transition: left 0.8s;
    top: 0;
    z-index: 0 !important;
    transition-timing-function: cubic-bezier(0.7, 0, 0.4, 1);
  }

  /* Define initial state for the SVG stroke */
  svg * {
    stroke: white; /* Assuming the initial color is white */
    transition: stroke 0.8s;
    transition-timing-function: cubic-bezier(0.01, 0, 0.4, 1);
  }

  &:hover::after {
    left: 0% !important;
  }

  &:hover {
    color: black !important;

    svg * {
      stroke: black !important; /* Change stroke to black on hover */
    }
  }
}

/* .swiper-wrapper {
  transition-timing-function: cubic-bezier(0.7, 0, 0.4, 1) !important;
} */

.trsw {
  max-width: fit-content !important;
}

.iconinfo svg:hover {
  * {
    stroke: #092241;
  }
}
.iconinfo svg {
  stroke-width: 1px !important;
  * {
    stroke-width: 1px !important;
  }
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.uptext {
  font-weight: bold;
  font-size: 0.875rem;
}
.linkaf {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #bfbfbf;
    transition: background-color 0.7s ease;
  }

  &:hover::after {
    background-color: #f7e327;
  }

  &.active::after {
    background-color: #f7e327;
  }
}
